body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.initButton {
  background-color: #0687c8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

.submitButton {
  background-color: #d1d2d3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

.cancelButton {
  background-color: #202e2a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

.slider {
	overflow-y: hidden;
	max-height: 100%; /* approximate max height */

  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out 0.5s;

}

.slider.closed {
	max-height: 0;
  top: 100%;
}

.buttonShown{
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out 0.5s;
}

.buttonHidden{
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out 0.5s;
}

.slotText{
  text-align: center;
}

.innerDatesList{
  overflow:hidden;
}

.containerDatesList {
  overflow:hidden;
}

.dateElement {
  float:left;
  width:20%;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  color: white;
}

.dateElementSelected {
  float:left;
  width:20%;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  color: white;
}

.flecha {
  width: 0;
	height: 0;
  margin: 0 auto;
	border-left: .5rem solid transparent;
	border-right: .5rem solid transparent;
	border-top: 1rem solid #06785b;
}

.adviceText{
  text-align: center;
}

.adviceExplain{
  text-align: center;
}

.dayNameSelected{
  font-size: 12px;
  margin: 0px 0;
  background-color:#06785b;
}

.dayName{
  font-size: 12px;
  margin: 0px 0;
  background-color:#009a77;
}

.dayNumberSelected{
  font-size: 24px;
  color: #edd070;
  margin: -10px 0;
  background-color:#06785b;
}

.dayNumber{
  font-size: 24px;
  margin: -10px 0;
  background-color:#009a77;
}

.dayMonthSelected{
  font-size: 12px;
  margin: 0px 0;
  background-color:#06785b;
}

.dayMonth{
  font-size: 12px;
  margin: 0px 0;
  background-color:#009a77;
}
